include README.md LICENSE CHANGELOG.md
include binwalk/py.typed
recursive-include docs *.md
exclude binwalk/binwalk_bin/*.exe
exclude binwalk/binwalk_bin/manifest.json
prune tests
prune vendor
prune patches
prune scripts
prune build
